<div class="container" style=" display: flex;
justify-content: center;
align-items: center;
height: 100px;
">
    <button style="background-color:DodgerBlue;" (click)="descSort()" class="btn btn-light">High to low</button>
    <button style="background-color:DodgerBlue;" (click)="ascSort()" class="btn btn-light">Low to high</button>
</div>
<div class="container">
    <div class="row">

        <app-cake *ngFor="let eachcake of cakes" class="col" [cakedata]="eachcake"></app-cake>

    </div>
</div>